div.course,div.course2,div.course3{
  width: 400px;
  height: 500px;
  position: absolute;
  background: white;
  border: 1em solid transparent;
  top: 300px;
}

div.course{
  left: 400px;
}

div.course2{
  left: 850px;
}

div.course3{
  left: 1300px;
}

footer{
  width: 100%;
  height: 80px;
  position: absolute;
  background: #172035;
  top: 900px;
  left: 0;

}

p#footer {
  text-align: center;
  color: white;
  margin-top: 32px;
  font-size: 1em;
}
