/*
=========================================================================================
                                    start slideshow
=========================================================================================
*/

section#content{
  color: white;
  top: 400px;
  left: 600px;
  position: absolute;
}

img#slide{
  width:100%;
  height: auto;
}

/*
=========================================================================================
                                      end slideshow
=========================================================================================
*/

/*
=========================================================================================
                                    start featured courses
=========================================================================================
*/
div.course,div.course2,div.course3{
  width:400px;
  height: 500px;
  background: white;
  position: absolute;
  top: 1244px;
  border: 1px solid transparent;
}

div.course{
  left:400px;
}

div.course2{
  left: 850px;
}

div.course3{
  left:  1300px;
}

h6{
  font-size: 1em;
}

/*
=========================================================================================
                                    end featured courses
=========================================================================================
*/

/*
=========================================================================================
                                    start about
=========================================================================================
*/
 section#about{
   width: 100%;
   height: 509px;
   background: #252525;
   position: absolute;
   top:1800px;
   left: 0;

 }

 div.about{
   color: white;
   text-align: center;


 }

 div.students, div.reviews, div.courses,div.content{
   width:300px;
   height: 200px;
   background: black;
   text-align: center;
   color: white;
   position: absolute;
   top: 212px;

 }
 div.students{
   left: 250px;

 }

 div.reviews{
   left: 600px;
 }

 div.courses{
   left:951px;
 }

 div.content{
   left:1301px;
 }

/*
=========================================================================================
                                    end about
=========================================================================================
*/

/*
=========================================================================================
                                      start  LearnTech
=========================================================================================
*/

div.learntechnow,div.learntechpodcast,div.learntechblog{
  width: 400px;
  height: 500px;
  border: 1px solid transparent
  background: white;
  position: absolute;
  top: 2500px;
}

div.learntechnow{
  left:400px;
}

div.learntechpodcast{
  left: 850px;
}

div.learntechblog{
  left: 1300px;
}

.h1lt{
  position: absolute;
  top:2320px;
  left: 614px;
}

/*
=========================================================================================
                                    end LearnTech
=========================================================================================
*/

/*
=========================================================================================
                                  start footer
=========================================================================================
*/
footer{
  width:100%;
  height: 80px;
  background: #172035;
  position: absolute;
  top:3100px;
  left:0;
}

p#footer{
  text-align: center;
  color: white;
  margin-top: 32px;
  font-size: 1em;
}
/*
=========================================================================================
                                    end footer
=========================================================================================
*/
